<form class= "form-signin">
    <h2>Sign in</h2>
    <div>
        <label for="UsernameSignin">Username</label>
        <input type="text" id="UsernameSignin"/>
    </div>
    <div>
        <label for="PasswordSignin">Password</label>
        <input type="password" id="PasswordSignin"/>
    </div>
    <div>
        <button type="submit">Sign in</button>
    </div>
</form>
<form class="signupForm">
    <h2>Sign up</h2>
    <div>
        <label for="UsernameSignup">Username:</label>
        <input type="text" id="UsernameSignup"/>
    </div>
    <div>
        <label for="PasswordSignup">Password:</label>
        <input type="password" id="PasswordSignup"/>
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>
